body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
    text-align: center;
    color: rgb(215, 100, 100);
}
h2 {
    color: rgb(215, 100, 100);
    text-align: center;
}
p {
    color: rgb(255, 255, 255);
}
.about {
    background-color: darkslategray;
}

.projects {
    display:flex; 
    flex-wrap:wrap;
}

.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: rgb(122, 122, 122);
    border-radius: 25%;
}

.project img {
    width: 300px;
    height: 300;
    margin: 10px;
    border: 2px solid rgb(126,14,201);
    display: block;
    margin: auto;
}

.section-title {
font-size: larger;
}